{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
    <p>
        Ваш API ключ: 
        <div class="card">
            <div class="card-body fw-bold">
                {{ request.user.key }}
            </div>
        </div>
    </p>
{% else %}
    <p>
        Чтобы использовать API, вам необходимо пройти регистрацию.
    </p>
    <a href="{% url 'django_registration_register' %}" class="btn btn-primary" type="button">Регистрация</a>
{% endif %}

{% endblock %}
